body, html, p {
    position: center;
    background-color: #0B0C10;
    text-align: center;
    height: 100%;
    width: 100%;    
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #C5C6C7;
    font-size: 100%;
    

}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: center;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.bgimg-1 {

    background-image: url("img.jpg");
    width: 100%;
    min-height: 50%;    
    color: #0B0C10;
    background-color:white;
    position: center;    
    padding:50px 80px;
    text-align: justify;
}

.bgimg-2 {

    background-image: url("img2.jpg");
    width: 100%;
    min-height: 25%;
    position:center;
    color:#0B0C10;
    background-color:#282E34;   
    padding:50px 80px;
    text-align: center;
}

.bgimg-3 {
    background-image: url("img3.jpg");
    width: 100%;
    min-height: 25%;    
    position:center;
    color:#0B0C10;
    background-color:#282E34;    
    padding:50px 80px;
    text-align: center;
}

.caption { 
    top: 50%;
    text-align: center;
    color: #000;
    font-size: 100%;
}

.caption span.block {
    justify-content: center;
    position: center;
    height: 100%;
    max-height: 400px;
    min-height: 50px;
    background-color: #0B0C10;
    color: #C5C6C7;
    padding: 18px;
    font-size: 100%;
    letter-spacing: 10px;
    border-style: solid;
    border-color: #66FCF1;
    border-width: 2px;
}

h3 {
    position: center;
    text-align:center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #C5C6C7;
    
}
.flexFont{

    font-size: 100%;
    margin: 1em;
    color: #1F2883;
}
.block{
    position: center;
    background-color:transparent;
    font-size:100%;
    color: #0B0C10;
}


